In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
apartments=[f"Apt_{i}" for i in range(1,21)]

In [14]:
dates=pd.date_range(start='2025-07-01', periods=30, freq='D')

In [15]:
date={
    "Date":np.tile(dates,len(apartments)),
    "Appartment":np.repeat(apartments,len(dates)),
    "Electricity_usage":np.random.normal(loc=20,scale=5,size=len(dates)*len(apartments))
}

In [16]:
df=pd.DataFrame(date)

In [17]:
df

          Date Appartment  Electricity_usage
0   2025-07-01      Apt_1           9.317720
1   2025-07-02      Apt_1          12.723867
2   2025-07-03      Apt_1          16.983088
3   2025-07-04      Apt_1          24.630356
4   2025-07-05      Apt_1          16.610414
..         ...        ...                ...
595 2025-07-26     Apt_20          16.764971
596 2025-07-27     Apt_20          17.188896
597 2025-07-28     Apt_20          13.104842
598 2025-07-29     Apt_20          19.318360
599 2025-07-30     Apt_20          13.831962

[600 rows x 3 columns]

In [18]:
df["Electricity_usage"]=df["Electricity_usage"].round(2)

In [19]:
df

          Date Appartment  Electricity_usage
0   2025-07-01      Apt_1               9.32
1   2025-07-02      Apt_1              12.72
2   2025-07-03      Apt_1              16.98
3   2025-07-04      Apt_1              24.63
4   2025-07-05      Apt_1              16.61
..         ...        ...                ...
595 2025-07-26     Apt_20              16.76
596 2025-07-27     Apt_20              17.19
597 2025-07-28     Apt_20              13.10
598 2025-07-29     Apt_20              19.32
599 2025-07-30     Apt_20              13.83

[600 rows x 3 columns]

In [20]:
print(df.isnull().sum())

Date                 0
Appartment           0
Electricity_usage    0
dtype: int64

In [22]:
df.dtypes

Date                 datetime64[ns]
Appartment                   object
Electricity_usage           float64
dtype: object

In [23]:
df.head()

        Date Appartment  Electricity_usage
0 2025-07-01      Apt_1               9.32
1 2025-07-02      Apt_1              12.72
2 2025-07-03      Apt_1              16.98
3 2025-07-04      Apt_1              24.63
4 2025-07-05      Apt_1              16.61

In [24]:
df.tail()

          Date Appartment  Electricity_usage
595 2025-07-26     Apt_20              16.76
596 2025-07-27     Apt_20              17.19
597 2025-07-28     Apt_20              13.10
598 2025-07-29     Apt_20              19.32
599 2025-07-30     Apt_20              13.83

In [25]:
df.shape

(600, 3)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               600 non-null    datetime64[ns]
 1   Appartment         600 non-null    object
 2   Electricity_usage  600 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 14.2+ KB

In [27]:
usage_per_apartment=df.groupby("Appartment")["Electricity_usage"].sum()
print(usage_per_apartment)

Appartment
Apt_1     579.03
Apt_10    582.44
Apt_11    620.69
Apt_12    565.26
Apt_13    649.20
Apt_14    555.59
Apt_15    623.66
Apt_16    565.34
Apt_17    618.76
Apt_18    594.93
Apt_19    594.60
Apt_2     567.35
Apt_20    640.12
Apt_3     575.65
Apt_4     637.66
Apt_5     608.74
Apt_6     644.17
Apt_7     612.81
Apt_8     615.17
Apt_9     597.06
Name: Electricity_usage, dtype: float64